/**
*   Style overrides for chat box component
*
*/
.sc-launcher{
    background-color: #007bff !important;
}

.sc-header{
    background-color: #007bff !important;
}

.sc-header--team-name:hover {
    background: #0069d9 !important;
}

.sc-header--close-button:hover {
    background: #0069d9 !important;
}

.sc-message--content.sent .sc-message--text{
    background-color: #007bff !important;
}

.navbar-text {
    padding: 5px;
    font-size: 1rem;
}

.navbar .btn {
    margin: 2px;
}

.spacer {
    height: 100px;
  }
  
  .toolbox {
    position: fixed;
    left: 12px;
    bottom: 12px;
    z-index: 10;
  }

  .rating-stars {
    font-size: 1.3rem;
  }
  
  .golden {
    color: #f8ce0b;
  }
  
  .scores-message {
    z-index: 1;
  }